<h2>All Historical Figures</h2>

<!-- add content here -->
<% @figures.each do |i| %>
<a class=button href='/figures/#{@figure.id]}'><%=  i.name %></a><br>
<% end %>

<a class="button" href="/landmarks">Landmarks</a><br>
<a class="button" href="/">Home</a>